addons
nuxeo-*
.checkstyle
.metadata
.mylar
.pmd
pojo-bin
seam-bin

# common stuff
.classpath
.project
.settings
.idea
bin
target
*~
*~bak
*-bak
*.bak
*-new
*.rej
*.orig
.DS_Store
.pydevproject
*.pyc
*.iml
*.ipr
*.iws
*.gpd.*
*cpJar*
dependency-tree.log
.externalToolBuilders
maven-eclipse.xml